# IDE & Editors configs
.vscode
.idea/workspace.xml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.env
.lego
connection.yaml
connection-local.yaml

.data
.secrets
.crypto-config.*.network
.channel-artifacts.*.network

bazel-*
*.pb.go
*.pb.validate.go

go_third_party.bzl
